<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-12">
    <div class="col-lg-3">
      <%= f.label :title %>
    </div>
    <div class="col-lg-6">
      <%= f.text_field :title , :class => 'form-control'%>
    </div>
  </div>
  <div class="col-lg-12" style="margin-top:2%;">
    <div class="col-lg-3">
      <%= f.label :description %>
    </div>
    <div class="col-lg-6">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-lg-12" style="margin-top:2%;">
    <div class="col-lg-3">
      <%= f.label :image_url %>
    </div>
    <div class="col-lg-6">
      <%= f.text_field :image_url, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-lg-12" style="margin-top:2%;">
    <div class="col-lg-3">
      <%= f.label :price %>
    </div>
    <div class="col-lg-6">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-lg-12" style="margin-top:2%;">
    <center>
      <%= link_to 'Back', products_path, :class => 'btn btn-warning' %>
      <%= f.submit "Create Item", :class => 'btn btn-primary'%>
    </center>
  </div>
<% end %>